@font-face {
    font-family: norse;
    src: url(./fonts/norse/Norse.otf);
}

@font-face {
    font-family: norse-bold;
    src: url(./fonts/norse/Norsebold.otf);
}



* {
    font-family: "Calibri";
    background-color:rgb(243, 229, 203);
}

.header-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: auto;
}

h1 {
    display: block;
    font-family: norse;
    font-size: 40px;
    text-align: center;
    margin-top: -1px;
}

h2 {
    font-family: "Caveat";
    text-align: center;
    margin-top: -17px;
    font-size: 23px;
}

.recipe-pics {
    width: 300px;
    height: auto;
    border: 3px solid rgb(158, 134, 89);
    border-radius: 5%;
}

.img-text {
    font-size: 30px;
    font-family: norse;
    visibility: hidden;
    position: absolute;
    top: 0;
}

.recipe-pics:hover{
    opacity: 0.3;
}

.img-wrap {
    position: relative;
    text-align: center;
}


.img-wrap:hover .img-text {
    visibility: visible;
}


.main-container {
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}